$text-transform-upper: uppercase;
$bold: bold;
$center: center;
$flex: flex;
$direction-col: column;
$auto: auto;
$width-100: 100%;
$white: #fff;
$wrap: wrap;
$none: none;
$font-poppins: 'Poppins', 'sans-serif';
$font-nunito: 'Nunito', 'sans-serif';

.header-talent {
	width: $width-100;
	min-height: 100px;
	&__container {
		width: 95%;
		min-height: 100px;
		text-align: $center;
	}
	&-headline {
		font-size: 36px;
		text-transform: uppercase;
		font-family: $font-nunito;
	}
}