$text-transform-upper: uppercase;
$bold: bold;
$center: center;
$flex: flex;
$direction-col: column;
$auto: auto;
$width-100: 100%;
$white: #fff;
$wrap: wrap;
$none: none;
$font-poppins: 'Poppins', 'sans-serif';
$font-nunito: 'Nunito', 'sans-serif';


.header-home {
	width: $width-100;
	min-height: 1080px;
	background: url('../img/header-home-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: $center;
	&__container {
		width: 95%;
		min-height: 1080px;
		display: $flex;
		flex-direction: $direction-col;
		margin: $auto;
	}
	&__bottom {
		width: 100%;
		display: $flex;
		min-height: 946px;
		&__left {
			width: 8%;
			min-height: 946px;
			display: $flex;
			flex-direction: $direction-col;
			align-items: $center;
			&-line {
				height: 60px;
				border: 1.5px solid #1a1a1d;
				background: #1a1a1d;
				margin-bottom: 73px;
			}
			&-num {
				font-family: $font-poppins;
				font-size: 18px;
				color: #1a1a1d;
				font-weight: 500;
				letter-spacing: 0.36px;
				-moz-transform: rotate(90deg);
			    -webkit-transform: rotate(180deg);
			    -o-transform: rotate(180deg);
			    writing-mode: tb-rl;
			}
		}
		&__soc {
			display: $flex;
			flex-direction: $direction-col;
			align-items: flex-start;
			list-style: none;
			margin-bottom: 197px;
			&-link {
				margin-bottom: 40px;
				margin-left: 0;
				transition: .2s;
				color: #1a1a1d;
				margin-left: 0;
				&:hover {
					color: #A0B7B7;
				}
			}
		}
		&__center {
			width: 80%;
			min-height: 946px;
			z-index: 10;
			display: $flex;
			flex-direction: $direction-col;
			align-items: flex-end;
			&__content {
				width: 90%;
				height: 810px;
				margin-bottom: 0;
				position: relative;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

			}
			&-headline {
				max-width: 470px;
				color: #1a1a1d;
				font-family: $font-poppins;
				font-size: 101px;
				letter-spacing: 2.02px;
				line-height: 100px;
				margin-top: -100px;
				z-index: 10;
				font-weight: 400;
				position: absolute;
				top: 380px;
				left: -75px;
			}
			&-text {
				max-width: 240px;
				color: #1a1a1d;
				font-family: $font-nunito;
				font-size: 17px;
				letter-spacing: 3.4px;
				text-transform: uppercase;
				margin-top: 0px;
				z-index: 10;
				font-weight: 400;
				position: absolute;
				top: 570px;
				left: -75px;
			}
			&-btn1 {
				width: 259px;
				height: 110px;
				background-color: #b4d3d3;
				color: #ffffff;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 2.8px;
				font-family: $font-nunito;
				border: none;
				position: absolute;
				bottom: 0px;
				left: -259px;
				cursor: pointer;
				transition: .2s;
				&:hover {
					background: #A1C0C0;
				}
				&:active {
					background: #95B4B4;
				}
			}
			&-btn2 {
				width: 110px;
				height: 110px;
				background: #fff;
				border: none;
				color: #000;
				font-size: 36px;
				position: absolute;
				bottom: 0px;
				left: 0px;
				cursor: pointer;
				transition: .2s;
				&:hover {
					background: #E7E7E7;
				}
				&:active {
					background: #DEDEDE;
				}
			}
		}
		&__right {
			width: 12%;
			display: $flex;
			flex-direction: $direction-col;
			min-height: 946px;
			justify-content: $center;
			align-items: $center;
			&-item {
				display: $flex;
				align-items: $center;
				margin-left: 10px;
				&:hover &-line{
					opacity: 1;
				}
				&-text {
					color: #696970;
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: 2.4px;
					opacity: .7;
					font-family: $font-nunito;
					cursor: pointer
				}
				&-line {
					width: 56px;
					height: 2px;
					background: #1a1a1d;
					opacity: 0;
					margin-left: 25px;
				}
				&-text:hover {
					opacity: 1;
					color: #1a1a1d;
				}
			}
		}
	}
}

@media(min-width: 1120px) and (max-width: 1448px) {
	.header-home {
		&__bottom {
			&__center {
				&-btn1 {
					width: 199px;
					height: 75px;
					left: -199px;
				}
				&-btn2 {
					width: 75px;
					height: 75px;
				}
			}
		}
	}
}

@media(min-width: 710px) and (max-width: 1119px) {
	.header-home {
		&__bottom {
			&__center {
				&-btn1 {
					width: 159px;
					height: 75px;
					left: -159px;
				}
				&-btn2 {
					width: 75px;
					height: 75px;
				}
			}
		}
	}
}

@media(min-width: 579px) and (max-width: 709px) {
	.header-home {
		&__bottom {
			&__center {
				&-btn1 {
					width: 129px;
					height: 75px;
					left: -129px;
				}
				&-btn2 {
					width: 75px;
					height: 75px;
				}
			}
		}
	}
}

@media(min-width: 486px) and (max-width: 578px) {
	.header-home {
		&__bottom {
			&__center {
				&-btn1 {
					width: 109px;
					height: 75px;
					left: -109px;
				}
				&-btn2 {
					width: 75px;
					height: 75px;
				}
			}
		}
	}
}

@media(min-width: 430px) and (max-width: 485px) {
	.header-home {
		&__bottom {
			&__center {
				&-btn1 {
					width: 95px;
					height: 75px;
					left: -95px;
					font-size: 11px;
				}
				&-btn2 {
					width: 75px;
					height: 75px;
				}
			}
		}
	}
}

@media(min-width: 348px) and (max-width: 429px) {
	.header-home {
		&__bottom {
			&__center {
				&-btn1 {
					width: 80px;
					height: 75px;
					left: -80px;
					font-size: 11px;
				}
				&-btn2 {
					width: 75px;
					height: 75px;
				}
			}
		}
	}
}

@media(min-width: 320px) and (max-width: 347px) {
	.header-home {
		&__bottom {
			&__center {
				&-btn1 {
					width: 70px;
					height: 75px;
					left: -70px;
					font-size: 10px;
				}
				&-btn2 {
					width: 75px;
					height: 75px;
				}
			}
		}
	}
}

@media(min-width: 320px) and (max-width: 1080px) {
	.header-home {
		&__bottom {
			&__left {
				align-items: flex-start;
				text-align: left;
				&-num {
					margin-left: 0;
				}
			}
		}
	}
}

@media(min-width: 651px) and (max-width: 770px) {
	.header-home {
		&__bottom {
			&__center {
				&-headline {
					font-size: 81px;
					top: 380px;
					left: -58px;
				}
				&-text {
					font-size: 16px;
					left: -58px;
				}
			}
		}
	}
}

@media(min-width: 539px) and (max-width: 650px) {
	.header-home {
		&__bottom {
			&__center {
				&-headline {
					font-size: 66px;
					top: 380px;
					left: -48px;
				}
				&-text {
					font-size: 14px;
					left: -38px;
				}
			}
		}
	}
}

@media(min-width: 320px) and (max-width: 538px) {
	.header-home {
		&__bottom {
			&__center {
				&-headline {
					font-size: 56px;
					top: 380px;
					left: -38px;
				}
				&-text {
					font-size: 14px;
					left: -28px;
				}
			}
		}
	}
}

@media(min-width: 320px) and (max-width: 874px) {
	.header-home {
		&__bottom {
			&__right {
				display: none;
			}
			&__left {
				width: 12%;
			}
			&__center {
				width: 88%;
			}
		}
	}
}