$text-transform-upper: uppercase;
$bold: bold;
$center: center;
$flex: flex;
$direction-col: column;
$auto: auto;
$width-100: 100%;
$white: #fff;
$wrap: wrap;
$none: none;
$font-poppins: 'Poppins', 'sans-serif';
$font-nunito: 'Nunito', 'sans-serif';

.latest-news {
	width: $width-100;
	min-height: 1347px;
	margin-bottom: 169px;
	&__container {
		width: 95%;
		min-height: 1347px;
		margin: $auto;
		display: $flex;
		flex-direction: $direction-col;
		align-items: $center;
	}
	&-headline {
		color: #1a1a1d;
		font-family: $font-poppins;
		font-size: 60px;
		font-weight: 400;
		margin-bottom: 43px;
	}
	&-line {
		width: 150px;
		border: 1px solid #242424;
		margin-top: 0;
		margin-bottom: 65px;
	}
	&__small {
		display: $flex;
		flex-wrap: $wrap;
		justify-content: $center;
		&__post {
			width: 530px;
			min-height: 139px;
			overflow: hidden;
			display: $flex;
			margin-bottom: 55px;
			margin-left: 25.5px;
			margin-right: 25.5px;
			& img {
				width: 200px;
				height: 139px;
			}
			&__text {
				width: 288px;
				overflow: hidden;
				display: $flex;
				flex-direction: $direction-col;
				min-height: 139px;
				margin-left: 42px;
			}
			&-title {
				color: #1a1a1d;
				font-family: $font-poppins;
				font-size: 24px;
				line-height: 36px;
				transition: .2s;
				margin-top: 0;
				margin-bottom: 0;
				margin-bottom: 15px;
				&:hover {
					color: #87bbbc;
				}
			}
			&-date {
				color: #77777e;
				font-family: $font-nunito;
				margin-top: 0;
			}
		}
	}
}

@media(min-width: 320px) and (max-width: 594px) {
	.latest-news {
		&__small {
			&__post {
				width: $width-100;
				&__text {
					width: $width-100;
					margin-left: 22px;
				}
				&-title {
					font-size: 20px;
				}
			}
		}
	}
}

@media(min-width: 494px) and (max-width: 594px) {
	.latest-news {
		&__small {
			&__post {
				&-title {
					font-size: 20px;
				}
			}
		}
	}
}

@media(min-width: 320px) and (max-width: 493px) {
	.latest-news {
		&__small {
			&__post {
				&-title {
					font-size: 17px;
					line-height: 24px;
				}
			}
		}
	}
}

@media(min-width: 320px) and (max-width: 379px) {
	.latest-news {
		&__small {
			&__post {
				&__text {
					margin-left: 12px;
				}
			}
		}
	}
}

@media(min-width: 320px) and (max-width: 348px) {
	.latest-news {
		&__small {
			&__post {
				& img {
					width: 170px;
					height: 119px;
				}
			}
		}
	}
}